# **Python Basics**
___
___

### Topics


*   Function Assignment
*   Object Type
*   Tupple & List
*   List explore
*   List Range
*   Split
*   Dictionary
*   Tupple to variable
*   Print formatted String
*   Map

**Function Assignment**

In [1]:
def func(a,b, c=None):
  if c==None:
    return a+b
  else:
    return a+b+c

f = func
result = f(5,6)
print(result)

11

**Object Type**

In [3]:
print(type("This is a string"))
print(type(None))
print(type(func))

<class 'str'>
<class 'NoneType'>
<class 'function'>

**Tupple & List**

In [5]:
# Tuples are an immutable data structure (cannot be altered).
tupple = (1, 'a', 2, 3)
mylist = [1, 'a', 2, 3]

print(type(tupple))
print(type(mylist))

<class 'tuple'>
<class 'list'>

**List explore**

In [7]:
mylist.append(3.3)
print(mylist)
mylist = [1,2,3,4]
mylist = mylist + mylist
print(mylist)

for i in mylist:
  print(i)

mylist = mylist * 2
print(mylist)

print(4 in mylist)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 3.3]
[1, 2, 3, 4, 1, 2, 3, 4]
1
2
3
4
1
2
3
4
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
True

**List Range OR Bracket**

In [15]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

print(x[-1])
print(x[-4:-2])
print(x[2:4])
print(x[:5])
print(x[5:])

T
T
Th
g
ri
is
This
is a string

**Split to List**

In [16]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

**Dictionary**

In [20]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
print(x['Christopher Brooks']) # Retrieve a value by using the indexing operator

# Through index
for name in x:
  print(x[name])

# Through values
for email in x.values():
  print(email)

# Both Extraction
for name, email in x.items():
    print(name)
    print(email)

brooksch@umich.edu
brooksch@umich.edu
billg@microsoft.com
brooksch@umich.edu
billg@microsoft.com
Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com

**Tupple to variable**

In [21]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
print(fname)

Christopher

**Print Formatted String**

In [22]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

**Map**

In [24]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
print(cheapest)

<map object at 0x7f44edb35240>

In [25]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01