# **Pandas DataFrame Hypothesis Testing**
___
___

***Topics*** 
*   Basic **Hypothesis** Testing
    - Date-wise Dataset Breaking
    - Numeric Column-wise Function (e.g.: mean,sum, etc.)
    - ttest_ind Test from Scipy library

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('grades.csv')
df

                                student_id  ...         assignment6_submission
0     B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1     98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
2     D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3     FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
4     5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
...                                    ...  ...                            ...
2310  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2016-03-25 11:00:06.923000000
2311  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2015-12-22 13:34:42.931000000
2312  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-12-04 09:56:07.156000000
2313  1F51E050-78F7-F270-1B90-ED1BC0376763  ...  2016-04-23 03:44:06.813000000
2314  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2015-10-26 15:56:55.460000000

[2315 rows x 13 columns]

In [3]:
len(df)

2315

**Date-wise Dataset Breaking**

In [6]:
early = df[df['assignment1_submission'] <= '2015-12-31']
late = df[df['assignment1_submission'] > '2015-12-31']
print(early.head())
print(late.head())

                             student_id  ...         assignment6_submission
0  B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
4  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
5  D09000A0-827B-C0FF-3433-BF8FF286E15B  ...  2016-01-20 19:54:46.166000000
8  C9D51293-BD58-F113-4167-A7C0BAFCB6E5  ...  2016-01-19 15:24:31.060000000

[5 rows x 13 columns]
                             student_id  ...         assignment6_submission
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
6  3217BE3F-E4B0-C3B6-9F64-462456819CE4  ...  2016-03-23 14:02:00.987000000
7  F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F  ...  2016-02-18 08:35:04.796000000
9  E2C617C2-4654-622C-AB50-1550C4BE42A0  ...  2016-03-30 20:33:13.554000000

[5 rows x 13 columns]

**Numeric Column-wise Function**

In [5]:
early.mean()

assignment1_grade    74.972741
assignment2_grade    67.252190
assignment3_grade    61.129050
assignment4_grade    54.157620
assignment5_grade    48.634643
assignment6_grade    43.838980
dtype: float64

In [7]:
late.mean()

assignment1_grade    74.017429
assignment2_grade    66.370822
assignment3_grade    60.023244
assignment4_grade    54.058138
assignment5_grade    48.599402
assignment6_grade    43.844384
dtype: float64

# **ttest_ind Test from Scipy library**
P-value lower than 0.05 proves the null hypothesis. Reject, Otherwise. In the case below, test is made to check if grades(performance) from early course takers are similar to late course takers after launcing a new course.

In [9]:
from scipy import stats
stats.ttest_ind(early['assignment1_grade'], late['assignment1_grade'])

Ttest_indResult(statistic=1.400549944897566, pvalue=0.16148283016060577)

In [10]:
stats.ttest_ind(early['assignment2_grade'], late['assignment2_grade'])

Ttest_indResult(statistic=1.3239868220912567, pvalue=0.18563824610067967)

In [11]:
stats.ttest_ind(early['assignment3_grade'], late['assignment3_grade'])

Ttest_indResult(statistic=1.7116160037010733, pvalue=0.08710151634155668)